In [1]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 50)

In [2]:
wnba = pd.read_csv("../data/wnba_clean2.csv")
wnba.head()

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3,T_Wins,T_Losses,Total
0,Aerial Powers,DAL,F,183,71,21.200991,US,"January 17, 1994",23,Michigan State,2,8,173,30,85,35.3,12,32,37.5,21,26,80.8,6,22,28,12,3,6,12,93,0,0,16,19,35
1,Alana Beard,LA,G/F,185,73,21.329438,US,"May 14, 1982",35,Duke,12,30,947,90,177,50.8,5,18,27.8,32,41,78.0,19,82,101,72,63,13,40,217,0,0,29,10,39
2,Alex Bentley,CON,G,170,69,23.875433,US,"October 27, 1990",26,Penn State,4,26,617,82,218,37.6,19,64,29.7,35,42,83.3,4,36,40,78,22,3,24,218,0,0,21,14,35
3,Alex Montgomery,SAN,G/F,185,84,24.543462,US,"December 11, 1988",28,Georgia Tech,6,31,721,75,195,38.5,21,68,30.9,17,21,81.0,35,134,169,65,20,10,38,188,2,0,8,26,34
4,Alexis Jones,MIN,G,175,78,25.469388,US,"August 5, 1994",23,Baylor,0,24,137,16,50,32.0,7,20,35.0,11,12,91.7,3,9,12,12,7,0,14,50,0,0,33,7,40

In [3]:
wnba[wnba["Team"]=="MIN"].describe()

,Height,Weight,BMI,Age,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3,T_Wins,T_Losses,Total
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.0,11.0,11.0,11.0
mean,183.090909,80.272727,23.903961,30.545455,9.000000,26.454545,569.818182,96.000000,206.090909,44.445455,18.909091,51.181818,28.963636,50.090909,61.454545,81.427273,28.090909,68.727273,96.818182,59.272727,22.636364,11.272727,41.181818,261.000000,2.000000,0.0,33.0,7.0,40.0
std,8.926976,8.787388,1.415895,4.480260,5.585696,4.009081,305.975757,69.885621,134.485281,8.571273,17.829495,46.114679,15.189356,44.105452,53.640216,6.130757,32.318585,53.675117,84.486470,40.706488,16.262058,17.567532,22.868398,191.091601,4.753946,0.0,0.0,0.0,0.0
min,170.000000,63.000000,21.220009,23.000000,0.000000,17.000000,74.000000,6.000000,14.000000,32.000000,0.000000,0.000000,0.000000,5.000000,6.000000,73.900000,3.000000,9.000000,12.000000,1.000000,3.000000,0.000000,8.000000,17.000000,0.000000,0.0,33.0,7.0,40.0
25%,175.000000,76.000000,23.379517,26.500000,5.500000,25.000000,358.500000,51.000000,123.000000,40.800000,5.000000,16.500000,28.200000,16.000000,21.500000,75.000000,10.000000,36.000000,50.000000,27.500000,11.000000,1.500000,26.500000,128.000000,0.000000,0.0,33.0,7.0,40.0
50%,183.000000,78.000000,23.893259,32.000000,10.000000,29.000000,614.000000,71.000000,181.000000,42.900000,17.000000,41.000000,35.000000,30.000000,36.000000,83.300000,13.000000,49.000000,63.000000,48.000000,17.000000,4.000000,42.000000,216.000000,0.000000,0.0,33.0,7.0,40.0
75%,188.000000,86.000000,24.978725,34.500000,14.000000,29.000000,825.500000,147.500000,293.500000,45.650000,26.000000,74.500000,37.450000,80.000000,98.500000,85.850000,35.500000,89.000000,126.000000,97.500000,35.000000,12.000000,50.000000,394.000000,1.500000,0.0,33.0,7.0,40.0
max,198.000000,96.000000,25.469388,35.000000,15.000000,30.000000,932.000000,222.000000,420.000000,66.100000,52.000000,132.000000,43.900000,128.000000,162.000000,91.700000,113.000000,184.000000,297.000000,108.000000,53.000000,61.000000,83.000000,572.000000,16.000000,0.0,33.0,7.0,40.0

In [4]:
wnba[wnba["Team"]=="MIN"]

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3,T_Wins,T_Losses,Total
4,Alexis Jones,MIN,G,175,78,25.469388,US,"August 5, 1994",23,Baylor,0,24,137,16,50,32.0,7,20,35.0,11,12,91.7,3,9,12,12,7,0,14,50,0,0,33,7,40
67,Jia Perkins,MIN,G,173,75,25.059307,US,"February 23, 1982",35,Texas Tech,14,30,932,178,420,42.4,47,123,38.2,114,134,85.1,24,72,96,103,41,11,83,517,0,0,33,7,40
88,Lindsay Whalen,MIN,G,175,78,25.469388,US,"September 5, 1982",34,Minnesota,14,22,520,69,153,45.1,12,34,35.3,27,36,75.0,8,46,54,90,11,2,44,177,0,0,33,7,40
93,Maya Moore,MIN,F,183,80,23.888441,US,"November 6, 1989",27,Connecticut,7,29,904,170,398,42.7,52,132,39.4,98,114,86.0,50,106,156,99,53,13,56,490,3,0,33,7,40
99,Natasha Howard,MIN,F,188,75,21.220009,US,"February 9, 1991",26,Florida State,4,29,315,48,104,46.2,3,13,23.1,17,23,73.9,25,38,63,16,11,19,20,116,0,0,33,7,40
105,Plenette Pierson,MIN,F/C,188,88,24.898144,US,"August 31, 1981",35,Texas Tech,15,29,402,54,142,38.0,17,51,33.3,15,20,75.0,13,49,62,48,12,4,33,140,0,0,33,7,40
109,Rebekkah Brunson,MIN,F,188,84,23.766410,US,"November 12, 1981",35,Georgetown,14,26,719,97,218,44.5,22,60,36.7,62,83,74.7,46,135,181,40,31,9,42,278,2,0,33,7,40
110,Renee Montgomery,MIN,G,170,63,21.799308,US,"February 12, 1986",31,Connecticut,9,29,614,71,181,39.2,30,89,33.7,44,51,86.3,12,34,46,96,24,1,43,216,0,0,33,7,40
116,Seimone Augustus,MIN,G/F,183,77,22.992624,US,"April 30, 1984",33,LSU,12,27,756,125,251,49.8,18,41,43.9,30,35,85.7,12,70,82,108,17,1,39,298,1,0,33,7,40
130,Sylvia Fowles,MIN,C,198,96,24.487297,US,"June 10, 1985",32,LSU,10,29,895,222,336,66.1,0,0,0.0,128,162,79.0,113,184,297,39,39,61,71,572,16,0,33,7,40
133,Temi Fagbenle,MIN,C,193,89,23.893259,UK,"August 9, 1992",25,Southern California,0,17,74,6,14,42.9,0,0,0.0,5,6,83.3,3,13,16,1,3,3,8,17,0,0,33,7,40

In [5]:
wnba.describe()

,Height,Weight,BMI,Age,Experience,Games Played,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3,T_Wins,T_Losses,Total
count,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,184.612676,78.978873,23.091214,27.112676,4.880282,24.429577,500.105634,74.401408,168.704225,43.102817,14.830986,43.697183,24.978169,39.535211,49.422535,75.828873,22.063380,61.591549,83.654930,44.514085,17.725352,9.781690,32.288732,203.169014,1.140845,0.007042,17.992958,18.077465,36.070423
std,8.698128,10.996110,2.073691,3.667180,4.002627,7.075477,289.373393,55.980754,117.165809,9.855199,17.372829,46.155302,18.459075,36.743053,44.244697,18.536151,21.519648,49.669854,68.200585,41.490790,13.413312,12.537669,21.447141,153.032559,2.909002,0.083918,7.314124,5.615422,2.283608
min,165.000000,55.000000,18.390675,21.000000,0.000000,2.000000,12.000000,1.000000,3.000000,16.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,8.000000,7.000000,34.000000
25%,175.750000,71.500000,21.785876,24.000000,2.000000,22.000000,242.250000,27.000000,69.000000,37.125000,0.000000,3.000000,0.000000,13.000000,17.250000,71.575000,7.000000,26.000000,34.250000,11.250000,7.000000,2.000000,14.000000,77.250000,0.000000,0.000000,12.000000,14.000000,34.000000
50%,185.000000,79.000000,22.873314,27.000000,4.000000,27.500000,506.000000,69.000000,152.500000,42.050000,10.500000,32.000000,30.550000,29.000000,35.500000,80.000000,13.000000,50.000000,62.500000,34.000000,15.000000,5.000000,28.000000,181.000000,0.000000,0.000000,18.000000,19.000000,35.000000
75%,191.000000,86.000000,24.180715,30.000000,7.000000,29.000000,752.500000,105.000000,244.750000,48.625000,22.000000,65.500000,36.175000,53.250000,66.500000,85.925000,31.000000,84.000000,116.500000,66.750000,27.500000,12.000000,48.000000,277.750000,1.000000,0.000000,21.000000,22.000000,39.000000
max,206.000000,113.000000,31.555880,36.000000,15.000000,32.000000,1018.000000,227.000000,509.000000,100.000000,88.000000,225.000000,100.000000,168.000000,186.000000,100.000000,113.000000,226.000000,334.000000,206.000000,63.000000,64.000000,87.000000,584.000000,17.000000,1.000000,33.000000,26.000000,40.000000

In [6]:
wnba["PitchAge"] = wnba["Age"]*wnba["MIN"]
team_stats = wnba.pivot_table(index="Team", aggfunc="sum")
team_stats["PitchAge"] = team_stats["PitchAge"]/team_stats["MIN"]
team_stats.sort_values("PitchAge")

,3P%,3PA,3PM,AST,Age,BLK,BMI,DD2,DREB,Experience,FG%,FGA,FGM,FT%,FTA,FTM,Games Played,Height,MIN,OREB,PTS,PitchAge,REB,STL,TD3,TO,T_Losses,T_Wins,Total,Weight
Team,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
DAL,322.0,533,179,364,296,99,279.558728,15,590,31,467.2,1703,698,879.6,555,464,247,2239,4786,254,2039,24.513163,844,189,0,303,228,192,420,978
CON,307.4,648,230,571,300,44,296.397926,7,657,38,508.4,2220,955,968.8,545,414,295,2217,6070,173,2554,25.296211,830,261,0,360,168,252,420,1017
SAN,413.3,355,116,547,347,90,295.981006,8,714,50,562.9,1861,816,898.1,538,405,337,2385,6301,355,2153,26.191874,1069,233,0,443,338,104,442,1001
ATL,212.8,477,139,559,296,109,247.808144,5,802,57,507.7,2235,903,739.7,665,506,293,2043,6269,289,2451,26.539639,1091,226,0,405,242,132,374,857
WAS,234.6,610,193,505,320,139,269.707454,8,740,62,476.8,1994,816,976.5,610,488,289,2193,6224,357,2313,26.943605,1097,212,0,324,228,240,468,904
NY,230.1,421,140,412,312,120,287.984466,16,800,56,538.5,1827,784,828.5,544,416,298,2198,5449,286,2124,27.051019,1086,138,0,353,156,264,420,970
CHI,259.3,448,173,558,298,150,251.196756,32,757,44,530.3,1831,883,856.0,541,434,248,2048,5400,273,2373,27.508519,1030,147,0,392,242,132,374,874
SEA,314.1,506,179,546,325,138,274.069893,15,835,57,541.6,1819,876,890.9,484,379,308,2212,6060,220,2310,28.026073,1055,178,0,397,240,180,420,935
LA,268.4,450,159,535,342,109,272.484242,21,706,71,506.4,1891,910,828.4,541,444,272,2230,5700,197,2423,28.559649,903,260,1,348,120,348,468,940
IND,290.4,707,236,518,336,84,272.064662,2,588,68,467.0,2240,932,1021.8,629,545,292,2209,6303,161,2645,28.658734,749,207,0,399,300,108,408,924
PHO,375.9,487,154,554,342,183,268.755569,11,801,60,524.9,2068,936,983.7,690,568,299,2227,6185,259,2594,29.469523,1060,217,0,408,228,240,468,932
MIN,318.6,563,208,652,336,124,262.943575,22,756,99,488.9,2267,1056,895.7,676,551,291,2014,6268,309,2871,31.869177,1065,249,0,453,77,363,440,883

In [8]:
sum(wnba["Age"]*wnba["MIN"])/sum(wnba["MIN"])

27.616883756952756